<form [formGroup]="postForm" class="container mt-5 pt-5" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" formControlName="title" type="text" name="title">
  </div>

  <div class="form-group">
      <label for="body">Text</label>
      <input class="form-control" formControlName="body" type="text" name="body">
  </div>
  
  <div class="form-group">
      <label for="userId">Id</label>
      <input class="form-control" formControlName="userId" type="number" name="userId">
  </div>
  <div class="col button-holder d-flex justify-content-center align-items-center mt-4">
    <button type="submit" name="submit" class="btn btn-success">DODAJ</button>
  </div>
</form>

<div class="container mt-5 pt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; index as i;">
          <th scope="row">{{post.id}}</th>
          <th>{{post.userId}}</th>
          <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>
          <a  [routerLink]="['/articles', post.id]" class="btn btn-primary">Detailed</a>
        </td>
        <td>
            <button (click)="deletePost(post.id)" type="button" class="btn btn-danger">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>